*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans', sans-serif;
}

/* -----HEADER----- */

.container{
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden;
}

.nav{
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    --url-menu: url("../img/menu.svg");
    --opacity-menu: 0;
    --events-menu: none;
}

.nav:has(input:checked){
    --opacity-menu: 1;
    --events-menu: unset;
    --url-menu: url("../img/close.svg");
}

.nav__logo{
    width: 60%;
    max-width: 100px;
}

.nav__img{
    width: 70%;
    display: block;
}

.nav__menu{
    position: absolute;
    top: 80px;
    inset-inline: 0;
    padding: 30px 5%;
    background-color: white;

    transition: .4s opacity;

    opacity: var(--opacity-menu);
    pointer-events: var(--events-menu);
}

.nav__links{
    list-style: none;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.nav__link{
    color: #100606;
    text-decoration: none;
}

.nav__label{
    display: block;
    width: 40px;
    height: 40px;

    background-image: var(--url-menu);
    background-size: contain;
    background-position: center;
    cursor: pointer;

    transition: background-image .4s;
}

.nav__buttons{
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
}

.btn{
    display: inline-block;
    color: black;
    text-align: center;
    padding: 1rem 2rem;
    text-decoration: none;
    background-color: #e0dcdc;
    border-radius: 4px;

    width: 100%;
    flex-grow: 1;
    border: 1px solid transparent;
}

.btn--black{
    background-color: black;
    color: white;
}

.btn--white{
    background-color: white;
    border: 1px solid black;
    border-color: black;
}

[id="menu"]{
    display: none;
}




.hero__main{
    padding: 30px 0;
    display: flex;
    gap: 4.5rem;
    flex-direction: column;
}

.hero__title{
    font-size: 2.5rem;
}

.hero__paragraph{
    margin: 2rem 0;
    line-height: 1.5;
}

.hero__buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.hero__icon{
    vertical-align:  top;
}

.hero__figure{
    max-width: 500px;
}

.hero__img{
    width: 100%;
}


/* -----Main----- */


.about{
    padding: 50px 0;
}

.about__title{
    font-weight: 300;
}

.about__paragraph{
    margin-top: 1.5rem;
    line-height: 1.8;
}

/*

*/

.cards{
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.cards__article{
    width: 250px;
    max-width: 500px;
    flex-grow: 1;
    display: flex;
    gap: 1.5rem;
    
}

.cards__figure{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #100606;
}

.cards__text{
    width: 50%;
    flex-grow: 1;
}

.cards__title{
    font-size: 1.3rem;
    margin-bottom: .8rem;
}

.cards__paragraph{
    line-height: 1.8;
}


.technology{
    padding: 80px 0;
}

.technology__title{
    font-weight: 300;
    text-align: center;
}

.technology__container{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.technology__img{
    width: 10%;
    max-width: 50px;
}


.cta{
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 1.5rem 2.5rem;
    text-align: center;
}

.cta__tittle{
    font-size: 2rem;
    font-weight: 400;
}

.cta__paragraph{
    line-height: 1.8;
    margin: .8rem 0;
    color: #94a3b8;
}

.cta__btn{
    display: inline-block;
    color: black;
    background-color: white;
    text-decoration: none;
    padding: 1.5rem 1.4rem;
    border-radius: 20px;
}